<doctype html>
<html>
    <body>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class=flashes>
            {% for message in messages %}
            <p>{{ message }}</p>
            {% endfor %}
        </div>
        {% endif %}
        {% endwith %}
         <h1>ユーザー登録</h1>
         メールアドレスを入力して登録してください。
         403 FORBIDDEN エラーが発生した場合は、管理者に連絡してください。
         <form action="{{url_for('.register_user')}}" method="post">
             <label>メールアドレス:<input type="TEXT" name="email" value="{{ g.user.email }}"></label>
             <input type="SUBMIT" value="登録">
         </form>

         {% if g.is_admin %}
         <h1>OAuth Acccess Token 設定</h1>
         <a href="{{ url_for('.get_request_token') }}">トークン取得</a>
         {% endif %}
     </body>
 </html>
